<h1>About Dragon Blog</h1>

<p>Dragon blog is the premiere blog for the intense community of dragon coders, programmers, and developers.</p>

<button class="btn btn-primary" {{action 'showRealName'}}>Click here to learn the Dragon's real name</button>
