<div class="container-fluid">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar">
      <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
    </ul>
  </nav>


</div>

<div class="container">
  {{outlet}}
</div>
